/* Global */
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

html,
body {
  font-family: "Inter", sans-serif;
  background-color: #faf9f7;
  height: 100%;
}

/* Header*/
header {
  background-color: #f5f3ef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.header-logo img {
  width: 100%;
  max-width: 150px;
  object-fit: contain;
  cursor: pointer;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.menu-list {
  display: flex;
  align-items: center;
}

.menu-list-nav {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list-nav li {
  display: flex;
  align-items: center;
}

.menu-list-nav li a {
  display: flex;
  align-items: center;
  color: black;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
}

.menu-list-nav li img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.notification-badge {
  background-color: black;
  color: white;
  border-radius: 47%;
  padding: 2px 4px;
  font-size: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  transform: scaleX(0.9);
}

/* Footer */
footer {
  text-align: end;
  padding: 15px 100px;
  background-color: white;
}

.nav-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 5px;
  gap: 35px;
}

.menu-list-footer {
  display: flex;
  gap: 30px;
}

.logo-footer {
  width: 3%;
  object-fit: contain;
}

.container-profile-public {
  display: flex;
  flex-direction: row;
  gap: 52px;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 90px;
  min-height: 90vh;
}

.profile-public-info {
  border: 1px solid transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: white;
  gap: 27px;
  align-items: center;
  max-height: 900px;
}

.profile-public-photo,
.my-account-details-photo {
  border: 1px solid transparent;
  height: 150px;
  width: 150px;
  margin: 50px 0px 20px 0px;
  border-radius: 100px;
}

.my-account-details-photo {
  margin-bottom: 0px;
}

.profile-public-info img,
.my-account-details-photo img {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  object-fit: cover;
}

.profile-public-name {
  border-top: 1px solid #edeaea;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  padding: 40px 0px 0px 0px;
  font-family: "Playfair Display", sans-serif !important;
}

.profile-public-name h1 {
  font-size: 27px;
  font-weight: 400;
}

.profile-public-uploads,
.my-account-books {
  width: 55%;
  border-radius: 20px;
  background-color: white;
}

.my-account-books {
  width: 80%;
  margin-bottom: 50px;
  min-height: 500px;
}

.profile-public-uploads-table,
.my-account-books-table {
  width: 100%;
  padding: 40px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-height: 900px;
  border: 1px solid;
}

.profile-public-date p,
.my-account-date p {
  font-size: 15px;
  color: gray;
}

.my-account-date p {
  align-self: center;
  text-align: center;
  margin-bottom: 25px;
}

.profile-public-library {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  gap: 9px;
}

.profile-public-library-biblioteque {
  font-size: 10px;
  font-weight: 600;
}

.profile-public-library-livres,
.my-account-library-livres {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: black;
}

.profile-public-library-livres img,
.my-account-library-livres img {
  width: 4%;
  border-radius: 0;
  object-fit: contain;
  font-size: 14px;
}

.profile-public-button {
  width: 60%;
  display: flex;
}

.profile-public-button a {
  border: 1px solid #00ac66;
  border-radius: 10px;
  color: #00ac66;
  height: 65px;
  width: 100%;
  background-color: #f5f3ef;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-header,
.table-header-book {
  border-bottom: 1px solid #edeaea;
  width: 100%;
  display: flex;
  font-weight: 400;
  padding-bottom: 15px;
  justify-content: center;
}

.table-header tr,
.table-header-book tr {
  width: 85%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: 13px;
}
.table-header th,
.table-header-book th {
  font-weight: 400;
  justify-content: space-between;
  width: 20%;
}

.table-content,
.table-book {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  table-layout: fixed;
}

.table-content tr,
.table-book tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px 0px 60px;
  height: 140px;
}

.table-book tr {
  padding: 10px 100px 0px 90px;
  width: 100%;
  align-self: center;
  justify-content: space-between;
}

.table-content tr:nth-child(even),
.table-book tr:nth-child(even) {
  background-color: #edf2f6; /* Light gray color for even rows */
}

.table-content tr:nth-child(odd),
.table-book tr:nth-child(odd) {
  background-color: #ffffff; /* White color for odd rows */
}

.table-content td,
.table-book td {
  width: 20%;
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  text-align: center;
}

.table-book td {
  width: 15%;
}

.table-content td p,
.table-book td p {
  width: 100%;
  text-align: left;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.table-book td .available {
  border: 1px solid #6dc4a1;
  width: 60%;
  border-radius: 10px;
  color: white;
  background-color: #6dc4a1;
  font-size: 10px;
  text-align: center;
  padding: 4px 0px;
}

.book-description {
  font-style: italic;
}

.table-book td .not-available {
  border: 1px solid #c46d6d;
  width: 60%;
  border-radius: 10px;
  color: white;
  background-color: #c46d6d;
  font-size: 10px;
  text-align: center;
  padding: 4px 0px;
}

.table-content img,
.table-book img {
  height: 90px;
  width: 90px;
  object-fit: cover;
}

.container-connection-form {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.connection-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 130px;
}

.connection-form h1 {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 35px;
  width: 42%;
  margin-bottom: 80px;
}

.connection-form form {
  justify-content: space-between;
  width: 42%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

form label {
  font-size: 15px;
  color: #ababab;
  margin-bottom: 5px;
}

.connection-form a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.2em;
}
.connection-form a:hover {
  text-decoration: none;
}

.connection-form .signup-prompt {
  text-align: left;
  width: 42%;
}

.connection-form input,
.my-account-update input {
  height: 45px;
  border-radius: 4px;
  border: 1px solid #edeaea;
  background-color: white;
  padding-left: 10px;
  margin-bottom: 45px;
}

.connection-form button {
  height: 58px;
  color: white;
  background-color: #00ac66;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 17px;
}

.connection-form-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.connection-form-image img {
  max-width: 100%;
  height: auto;
}

.home-main {
  display: flex;
  flex-direction: row;
  background-color: #f5f3ef;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
}

.home-main-text {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-main-text h1 {
  width: 34%;
  font-family: "Playfair Display", sans-serif;
  font-size: 29px;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: left;
}

.home-main-text p {
  width: 34%;
  text-align: left;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 20px;
  white-space: normal;
  word-wrap: break-word;
  text-align: justify-all;
}

.home-main-image {
  width: 50%;
}

.home-main-image img {
  object-fit: cover;
}

.home-main-text a {
  background-color: #00ac66;
  width: 15%;
  align-self: center;
  padding: 15px 0;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  margin-right: 160px;
  border-radius: 10px;
}

.home-main-text a:hover {
  background-color: #006d41;
}

.home-main-image p {
  width: 10%;

  color: #ababab;
  font-style: italic;
  margin: 10px 0px 0px 350px;
}

.home-last-books {
  display: flex;
  flex-direction: column;
  background-color: #faf9f7;
  align-items: center;
  justify-content: space-between;
}

.home-last-books-title {
  margin-top: 100px;
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
}

.home-last-books-title h2 {
  font-weight: 500;
}

.home-last-books a {
  border: 1px solid transparent;
  background-color: #00ac66;
  padding: 15px 35px;
  border-radius: 10px;
  color: white;
  margin-bottom: 100px;
  cursor: pointer;
}

.home-last-books a:hover {
  background-color: #006d41;
}

.home-last-books-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: 80px 0px 80px 0px;
}

.home-last-book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  border-radius: 0px 0px 10px 10px;
  background-color: white;
}

.home-last-book img {
  object-fit: contain;
  margin-bottom: 20px;
}

.last-book-title {
  font-size: 16px;
  font-weight: 500;
  width: 80%;
  margin: 0px 0px 10px 10px;
}

.last-book-author {
  width: 80%;
  margin: 0px 0px 10px 10px;
  font-size: 14px;
  color: #ababab;
}

.last-book-seller {
  width: 80%;
  margin: 10px 0px 20px 10px;
  font-size: 11px;
  color: #ababab;
  font-style: italic;
}

.home-details {
  display: flex;
  flex-direction: column;
  background-color: #f5f3ef;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  gap: 20px;
}

.home-details-text {
  width: 25%;
  text-align: center;
}

.home-details-text h3 {
  font-size: 26px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}

.home-details-text p {
  color: #767573;
}

.home-details-cards {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  margin: 20px 0px 30px 0px;
}

.home-details-cards p {
  width: 20%;
  text-align: center;
  padding: 35px 10px 35px 10px;
  font-size: 15px;
  background-color: white;
  border-radius: 10px;
}

.home-details-button a {
  padding: 17px 35px;
  border: 2px solid #00ac66;
  color: #00ac66;
  background-color: #f5f3ef;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.home-details-button a:hover {
  border: 2px solid #00ac66;
  color: white;
  background-color: #00ac66;
}

.home-banner img {
  width: 100%;
  object-fit: fill;
  padding: 0;
}

.home-banner {
  background-color: #f5f3ef;
}

.home-values {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  background-color: #f5f3ef;
  margin: 0;
}

.home-values h3 {
  font-size: 26px;
  font-family: "Playfair Display", sans-serif;
  margin-bottom: 30px;
  text-align: left;
  width: 27%;
  align-self: center;
  font-weight: 500;
}

.home-values p {
  width: 27%;
  text-align: left;
  margin-bottom: 50px;
  align-self: center;
}

.home-values-equipe {
  font-style: italic;
  color: #ababab;
}

.home-values img {
  width: 10%;
  align-self: center;
  margin: -95px 0px 150px 370px;
  position: relative;
}

.our-books-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.our-books-title {
  display: flex;
  flex-direction: row;
  width: 65%;
  align-self: center;
  justify-content: space-between;
  margin: 130px 20px 130px 0px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
}

.our-books-title h1 {
  font-weight: 500;
  font-size: 31px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #f0f0f0;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  position: relative;
  width: 300px;
}

.search-container input {
  border: none;
  outline: none;
  padding: 7px 10px 7px 40px;
  border-radius: 7px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.search-container img {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

.search-container input::placeholder {
  color: #ababab;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.books-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 20%;
  align-self: center;
  margin: 10px 25px 35px 0px;
}

.books-list-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  background-color: white;
  height: 350px;
}

.books-list-details .book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.books-list-details .book-card img {
  object-fit: cover;
  margin-bottom: 20px;
  width: 100%;
  height: 60%;
}

.books-list-details .book-card h2 {
  font-size: 16px;
  font-weight: 500;
  width: 80%;
  margin: 0px 0px 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.books-list-details .book-card p {
  width: 80%;
  margin: 0px 0px 10px 10px;
  font-size: 14px;
  color: #ababab;
}

.books-list-details .book-card .books-list-seller {
  width: 80%;
  margin: 10px 0px 20px 10px;
  color: #ababab;
  font-style: italic;
  padding: 10px 0px 10px 0px;
  font-size: 10px !important;
}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65%;
  align-self: center;
}

.my-account-details {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
  min-height: 75vh;
}

.my-account-title {
  width: 80%;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 130px 0px 90px 0px;
}

.my-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.my-account-details-content {
  width: 48%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 27px;
  align-items: center;
  max-height: 800px;
}

.my-account-update {
  border: 1px solid transparent;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #ffffff;
}

.my-account-update h2 {
  font-weight: 500;
  font-size: 17px;
  width: 60%;
  margin-bottom: 50px;
}

.my-account-update form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.my-account-update input {
  height: 45px;
  border-radius: 4px;
  border: 1px solid #edeaea;
  background-color: white;
  padding-left: 10px;
  margin-bottom: 39px;
  width: 60%;
}

.my-account-update button {
  width: 25%;
  height: 50px;
  color: #00ac66;
  background-color: #faf9f7;
  border-radius: 8px;
  border: 1px solid #00ac66;
  font-size: 15px;
  cursor: pointer;
  align-self: flex-start;
  margin-left: 120px;
}

.my-account-update label {
  width: 60%;
  margin-bottom: 5px;
  color: #ababab;
  font-size: 14px;
}

.modify-photo {
  border-bottom: 1px solid #ababab;
  margin-top: -20px;
  text-align: center;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 120px;
  margin-bottom: 20px;
}

.modify-link {
  color: #ababab;
  font-size: 13px;
  cursor: pointer;
  align-self: center;
  margin-bottom: -2px;
}

.modify-book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.modify-book-link {
  text-decoration: underline;
  cursor: pointer;
  color: black;
  font-size: 15px;
  text-underline-offset: 0.1em;
}

.delete-book-link {
  color: #c65b5b;
  text-decoration: underline;
  background-color: transparent;
  border: transparent;
  font-size: 15px;
  cursor: pointer;
  text-underline-offset: 0.1em;
}

.single-book-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.breadcrumb {
  width: 100%;
  height: 50px;
  align-self: center;
  padding: 45px 0px 40px 100px;
  background-color: #f5f3ef;
  font-size: 13px;
  color: #767573;
  cursor: pointer;
}

.breadcrumb a {
  color: #767573;
}

.single-book-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.single-book-detail img {
  width: 50%;
  object-fit: cover;
}

.single-book-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 100px;
}

.single-book-text h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.single-book-author {
  color: #767573;
  font-size: 15px;
  margin-top: 10px;
}

.styled-hr {
  width: 5%;
  margin: 30px 0px;
}

.single-book-description {
  font-size: 10px;
}

.single-book-txt-desc {
  line-height: 1.3;
  text-align: left;
  height: 350px;
  font-size: 15px;
  padding-bottom: 10px;
  overflow-y: auto;
  margin-top: 15px;
}

.single-book-envoyer {
  height: 55px;
  border-radius: 10px;
  background-color: #00ac66;
  border: 1px solid #00ac66;
  color: white;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  margin: 60px 0px;
  text-align: center;
  line-height: 55px;
}

.sb-owner-name {
  border-radius: 50px;
  background-color: white;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px 10px 5px;
  text-decoration: none;
  color: #333;
  width: auto;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  margin-top: 30px;
}

.sb-owner {
  font-size: 10px;
  justify-self: center;
  justify-content: center;
  margin-top: 20px;
}

.sb-owner-name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.book-description {
  font-style: italic;
}

.container-edit-book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.container-edit-book a {
  width: 87%;
  align-self: center;
  color: #767573;
  font-size: 14px;
  margin: 35px 0px 30px 0px;
}

.container-edit-book img {
  margin-right: 3px;
}

.edit-book-headline {
  width: 87%;
  align-self: center;
  margin-bottom: 30px;
  font-family: "Playfair Display", sans-serif;
  font-size: 27px;
  font-weight: 400;
}

.edit-book-information {
  display: flex;
  flex-direction: row;
  width: 87%;
  align-self: center;
  border-radius: 10px;
  background-color: white;
  justify-content: space-between;
  padding-bottom: 200px;
  margin-bottom: 60px;
}

.edit-book-photo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-book-photo img {
  width: 480px;
  height: 480px;
  align-self: center;
  object-fit: cover;
  align-items: center;
}

.edit-book-photo p {
  width: 100%;
  margin: 50px 0px 10px 0px;
  color: #767573;
}

/**/
.edit-form {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0px 200px 0px;
}

.edit-form label {
  color: #767573;
  margin: 29px 0px 10px 0px;
  width: 80%;
  font-size: 15px;
}

.edit-form textarea,
.edit-form select {
  width: 80%;
  padding: 10px;
  margin-bottom: 50px;
  border-color: transparent;
  border-radius: 4px;
  font-size: 16px;
  background-color: #edf2f6;
  resize: none;
}

.edit-form input {
  width: 80%;
  height: 35px;
  border-radius: 4px;
  border-color: transparent;
  background-color: #edf2f6;
  padding: 10px;
}

.edit-form textarea {
  height: 400px;
  resize: vertical;
  border-color: transparent;
  padding: 15px 10px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

.edit-form button {
  background-color: #00ac66;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  width: 50%;
  align-self: flex-start;
  height: 52px;
  margin-left: 65px;
}

/**/

.edit-photo {
  text-decoration: underline;
  font-size: 14px;
  margin: 13px 100px 0px 0px;
  align-self: self-end;
  text-align: right;
  width: 100%;
  text-underline-offset: 0.1em;
  color: black;
}

.edit-photo-link {
  font-size: 13px;
  cursor: pointer;
  color: black;
}

.add-book {
  align-self: self-end;
  margin: 0px 155px 10px 0px;
}

.add-book button {
  background-color: #faf9f7;
  color: #00ac66;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #00ac66;
}

.my-account-name {
  border-top: 1px solid #edeaea;
  text-align: center;
  margin: 30px 0px 20px 0px;
  padding: 40px 0px 0px 0px;
  font-family: "Playfair Display", sans-serif !important;
  width: 100%;
}

.my-account-name h2 {
  font-size: 27px;
  color: black;
  font-weight: 400;
}

.my-account-library {
  display: flex;
  flex-direction: column;
}

.my-account-library-biblioteque {
  color: black;
  font-size: 9px;
  font-weight: 500;
  width: 50%;
  margin-bottom: 10px;
  align-self: center;
  text-align: center;
}

section.messages {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
}

.messages-main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
  background-color: #f5f3ef;
  max-height: 150vh;
  overflow-y: auto;
}

.messages-inbox{
  width: 25%;
  background-color: #faf9f7;
  border: 1px solid transparent;
  overflow-y: auto;
  max-height: 100vh;
}

.no-recent-message{
  padding-left: 10px;
}

.messages-title {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  color: #333;
  margin-bottom: 40px;
  margin-top: 50px;
  font-family: "Playfair Display";
  padding-left: 10px;
}

.message-user {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border: 1px solid transparent;
  margin-bottom: 10px;
  
  padding: 20px;
}

.message-user.active {
  background-color: #fff;
  width: 100%;
}

.message-user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-user-details {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.message-user-name {
  font-weight: 500;
  margin-bottom: 5px;
  width: 80%;
}

.message-time {
  font-size: 12px;
  margin-bottom: 5px;
  width: 20%;
  justify-self: right;
  font-weight: 500;
}

.message-content {
  font-size: 13px;
  color: #888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
}

.message-area {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.message-header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 100px;
  width: 100%;
}

.message-header-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.message-receiver {
  font-weight: 500;
}

.messages-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 10px;
  height: 80vh;
}

.message-received,
.message-sent {
  margin-bottom: 10px;
  width: 70%;
}

.message-received {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.message-received-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-received-text {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  max-width: 100%;
  margin-top: 10px;
  font-size: 14px;
}

.message-received-text p {
  margin: 0;
  min-width: 50px;
}

.message-received-timestamp {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
  width: 87%;
  text-align: left;
  align-self: center;
}

.message-sent {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  margin-left: auto;
  align-items: end;
}

.message-sent p {
  margin: 0;
  background-color: #edf2f6;
  border-radius: 5px;
  padding: 10px;
  max-width: fit-content;
}

.message-sent-timestamp {
  font-size: 12px;
  color: #888;
  margin-bottom: 10px;
  margin-left: auto;
}

.message-send_message,
.message-send_message-inbox {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.message-send_message-inbox{
  width: 90%;
  margin-top: auto;
}

.message-send_message textarea,
.message-send_message-inbox textarea {
  width: 90%;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: none;
  font-size: 14px;
  margin-right: 10px;
  font-family: Playfair, sans-serif;
  padding: 20px 50px 0 50px;
  box-sizing: border-box;
  vertical-align: middle;
}

.message-send_message button,
.message-send_message-inbox button {
  padding: 10px 20px;
  background-color: #00ac66;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
 
  height: 53px;
  width: 150px;
}

.message-send_message button:hover,
.message-send_message-inbox button:hover {
  background-color: #009655;
}

.error
{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;     
  text-align: center;
  line-height: 1.5;
}

.error a 
{
  text-decoration: underline;
  text-underline-offset: 0.3em;
  cursor: pointer;
}

.error a:hover 
{
  color: #767573;
}

.message-send-container {
  height: 90vh;
  display: flex;
}

.message-send-form textarea[disabled] {
  background-color: #f0f0f0;
  
}

.message-send-form button[disabled] {
  background-color: #d0d0d0;
 
}


